<div class="col-md-6 offset-md-3 mt-5 container-fluid">
  <a href="/admin/adminP">
    <img src="/images/logo.jpg" height="60" />
  </a>
  <br />
  <a class="mt-3 d-flex">DrTyre Brand Listing</a>
  <h1>Add Brand with Image</h1>
  <% if (message.type) { %>

  <div
    class="alert alert-<%= message.type === 'success' ?'success' : 'danger' %>"
    role="alert"
  >
    <%= message.body %>
  </div>
  <% } %>
  <form
    accept-charset="UTF-8"
    action="/admin/addBrands"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="exampleFormControlSelect1">Brand Name</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Enter the Brand Name"
        name="brand"
      />
    </div>
    <hr />
    <div class="form-group mt-3">
      <label class="mr-2">Upload the Logo:</label>
      <input
        type="file"
        name="logoImages"
        accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG"
        required
      />
    </div>
    <hr />
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
