<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <% if (message.type) { %>
            
              <div
                class="alert alert-<%= message.type === 'success' ?'success' : 'danger' %>"
                role="alert"
              >
                <%= message.body %>
              </div>
              <% } %>
            <img src="/images/changepassword.webp"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post" action='/updatePassword/<%= id %>/<%= token %>'>
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <h1 class=" mb-0 me-3">Enter New Password</h1>
              </div>
    
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">| <i class="bi bi-upload"></i> |</p>
              </div>
    
              
              
    
              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">New* Password</label>
                <input name="password" type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Enter your new password" />
                </div>
                
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Show Password
                    </label>
                  </div>
                </div>
    
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Password</button>
                
              </div>
    
            </form>
          </div>
        </div>
      </div>
    </section>
  
    <script>
    document.getElementById('form2Example3').addEventListener('change', () => {
      let form3Example4 = document.getElementById('form3Example4');
      
      if (form3Example4.getAttribute('type') == 'password') {
        form3Example4.setAttribute('type', 'text');
       
      } else {
        form3Example4.setAttribute('type', 'password');
       
      }
    })
  </script>