<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <% if (message.type) { %>
            
              <div
                class="alert alert-<%= message.type === 'success' ?'success' : 'danger' %>"
                role="alert"
              >
                <%= message.body %>
              </div>
              <% } %>
            <img src="/images/reset.jpg"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post" action="/resetPassword">
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <h1 class=" mb-0 me-3">Reset Password</h1>
              </div>
    
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">| <i class="bi bi-unlock-fill"></i> |</p>
              </div>
    
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
                <input name="email"  type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter a valid email address" required/>
              </div>
                
    
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                    class="link-danger">Register</a></p>
              </div>
    
            </form>
          </div>
        </div>
      </div>
    </section>
  
    <script>
    document.getElementById('form2Example3').addEventListener('change', () => {
      let form3Example4 = document.getElementById('form3Example4');
      
      if (form3Example4.getAttribute('type') == 'password') {
        form3Example4.setAttribute('type', 'text');
       
      } else {
        form3Example4.setAttribute('type', 'password');
       
      }
    })
  </script>